{{ define "title" }}Admin: New TIL{{ end }} {{ define "main" }}
<form action="/bellevue-activities" method="post">
  <h2>Bellevue Activity</h2>
  <label
    >Date:
    <input
      name="bellevue-activity-date"
      type="date"
      value="{{ .BellevueActivity.Date | formatDateFormInput }}"
  /></label>
  {{ range .BellevueOfferings }} {{ template "bellevue-activity" . }} {{ end }}
  <label
    >Snacks (in CHF):
    <input name="bellevue-activity-snacks" type="number" min="0" step="0.01"
  /></label>
  <label
    >Comment (max 1 Paragraph):
    <textarea
      name="bellevue-activity-comment"
      rows="2"
      aria-label="comment"
      value="{{.BellevueActivity.Comment}}"
    >
      {{- .BellevueActivity.Comment -}}
    </textarea>
  </label>
  <button type="submit" class="stack-exception-large">Add</button>
</form>
<script defer src="/static/js/new-bellevue-activity.js"></script>
{{ end }}
