{{ define "title" }}Admin: New Song{{ end }}
{{ define "main" }}
<h3>New Song:</h3>
<form action="/songbook" method="post">
  <fieldset>

    <div class="grid">

      <label>Song ID:
        <input
          type="text"
          name="song-id"
          placeholder="ID"
          value="{{.Song.ID}}"
          required
          {{if .Form.FieldErrors.id}}
          aria-invalid="true"
          aria-describedby="invalid-song-id"
          {{end}}
        >
        {{ with .Form.FieldErrors.id }}
        <small id="invalid-song-id">{{ . }}</small>
        {{ end }}
      </label>

      <label>Copyright:
        <input
          type="text"
          name="song-copyright"
          placeholder="Copyright"
          value="{{.Song.Copyright}}"
        >
      </label>

    </div>

    <div class="grid">

      <label>Artist:
        <input type="text" name="song-artist" placeholder="Artist" required value="{{.Song.Artist}}"></label>
      <label>Name:
        <input type="text" name="song-name" placeholder="SongName" required value="{{.Song.Name}}"></label>

    </div>

    <label>Chords:
      <textarea style="font-family: monospace;" name="song-chords" rows="8" placeholder="Chords">{{.Song.Chords}}</textarea></label>
    <label>Lyrics:
      <textarea name="song-lyrics" rows="16" placeholder="Lyrics" aria-label="lyrics">{{.Song.Lyrics}}</textarea></label>
  </fieldset>
  <input type="submit" value="{{if .Form.Song.ID}}Update{{else}}Create{{end}}">
</form>
{{ end }}
