{{ define "title" }}Admin: New TIL{{ end }}
{{ define "main" }}
<form action="/til" method="post">
{{- if eq .TIL.ID 0 -}}
<h3>New TIL:</h3>
{{- else -}}
<h3>Edit TIL:</h3>
{{- end -}}
  <fieldset>

    {{- if .TIL.ID}}
    <div class="grid">
      <label>
        Created At:
        <input type="text" aria-label="created-at" value="{{ .TIL.CreatedAt | formatDate }}" disabled>
      </label>
      <label>
        Updated At:
        <input type="text" aria-label="updated-at" value="{{ .TIL.UpdatedAt | formatDate }}" disabled>
      </label>
      <label>
        ID:
        <input name="til-id" type="text" aria-label="til-id" value="{{ .TIL.ID }}" readonly>
      </label>
    </div>
    {{end -}}

    <label>Path:
      <input
        type="text"
        name="til-path"
        value="{{.TIL.Path}}"
        required
        autofocus
      {{if or .Form.FieldErrors.pathfmt .Form.FieldErrors.pathuniq }}
        aria-invalid="true"
        aria-describedby="invalid-til-path"
      {{end}}
      >
      {{ with .Form.FieldErrors.pathfmt }}
      <small id="invalid-til-path">{{ . }}</small>
      {{ end }}
      {{ with .Form.FieldErrors.pathuniq }}
      <small id="invalid-til-path">{{ . }}</small>
      {{ end }}
    </label>

    <label>Title:
      <input
        type="text"
        name="til-title"
        value="{{.TIL.Title}}"
        required
        {{if .Form.FieldErrors.title}}
        aria-invalid="true"
        aria-describedby="invalid-til-title"
        {{end}}
      >
      {{ with .Form.FieldErrors.title }}
      <small id="invalid-til-title">{{ . }}</small>
      {{ end }}
    </label>

    <label>Category:
      <input
        type="text"
        name="til-category"
        value="{{.TIL.Category}}"
        required
      >
      {{ with .Form.FieldErrors.category }}
      <small id="invalid-til-title">{{ . }}</small>
      {{ end }}
    </label>

    <label>Summary (1 Paragraph):
      <textarea
        name="til-summary"
        rows="2"
        aria-label="summary"
        required
        value="{{.TIL.Summary}}"
        {{if .Form.FieldErrors.summary}}
        aria-invalid="true"
        aria-describedby="invalid-til-summary"
        {{end}}
      >
        {{- .TIL.Summary -}}
      </textarea>
      {{ with .Form.FieldErrors.summary }}
      <small id="invalid-til-summary">{{ . }}</small>
      {{ end }}
    </label>

    <label>Text (Markdown):
      <textarea
        name="til-text"
        rows="7"
        aria-label="text"
        required
      >
        {{- .TIL.Text -}}
      </textarea>
    </label>

  </fieldset>

  <button type="submit" class="stack-exception">
    {{if eq .TIL.ID 0}}Create{{else}}Update{{end}}
  </button>
</form>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('textarea').forEach(textarea => {
      textarea.style.height = 'auto';
      textarea.style.height = textarea.scrollHeight + 'px';
    });
  });
</script>
{{ end }}
