{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <title>kuda.ai | {{ template "title" . }}</title>
    <script>
      const theme = localStorage.getItem("theme");
      document.documentElement.setAttribute("data-theme", theme);
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      href="/static/img/favicon.ico"
      type="image/x-icon"
    />
    <!-- <<< fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <!-- fonts >>> -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css?v=22" />
    {{ if .HighlightJS }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/rose-pine.min.css"
    />
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"
    ></script>
    {{ end }}
  </head>
  <body>
    <header>
      <hgroup>
        <h1><a href="/">kuda.ai</a></h1>
        <p>Thoughts on programming and music theory.</p>
      </hgroup>
      {{ if .LoggedIn }}
      <p><small>Hoooi {{ .UserEmail }} 👋🇨🇭🗻</small></p>
      {{ end }} {{ if not .HideNav }} {{ template "nav" . }} {{ end }}
    </header>
    {{ if .Sidebars }}
    <div class="container main-layout">
      <div class="left"></div>
      <main class="stack">{{ template "main" . }}</main>
      <div class="right"></div>
    </div>
    {{ else }}
    <main class="container">{{ template "main" . }}</main>
    {{ end }}
    <footer class="container">
      <small>
        Made with
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#d7827e"
          stroke-width="2"
          width="24"
          height="24"
        >
          <path
            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 
           2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09 
           C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 
           22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
          />
        </svg>
        in Berlin and Amden since 2021
      </small>
      <br />
      <small>
        <a href="/admin">AdminArea</a>
        |
        <a href="https://github.com/davidkuda/kuda.ai">GitHub</a>
        |
        <a href="https://www.linkedin.com/in/davidkuda/">LinkedIn</a>
      </small>
    </footer>
    <script src="/static/js/main.js?v=3" type="text/javascript"></script>
  </body>
  {{ if .HighlightJS -}}
  <script defer>
    document.addEventListener("DOMContentLoaded", () => hljs.highlightAll());
  </script>
  {{- end }}
</html>
{{end}}
