{{ define "title" }}Bellevue Activities{{ end }} {{ define "main" }}
<h2 class="text-center">Bellevue Activities</h2>
<p class="text-center">
  <a href="/admin/new-bellevue-activity">Add new activities</a>
</p>
<button hx-get="/htmx" hx-target="div#htmx-container" hx-swap="beforeend">
  HTMX
</button>
<div id="htmx-container"></div>
<h3 class="center">July 2025</h3>
<div class="table-container">
  <table>
    <tr>
      <th>Date & Price</th>
      <th>Activities</th>
    </tr>
    {{ range .BellevueActivityOverview.BellevueActivities }}
    <tr>
      <td class="no-break stack-xs">
        <span class="no-break bold block">{{ .Date | fmtDateNiceRead }}</span>
        <span class="block">{{ .TotalPrice | fmtCHF }} CHF</span>
      </td>
      <td class="stack-xs min-width-max-content">
        {{ range .Items }}
        <span class="bellevue-activity no-wrap"
          >{{ .Count }} {{ .Activity }}</span
        >
        {{ end }} {{ if gt .SnacksCHF 0 }}
        <span class="bellevue-activity"
          >{{ .SnacksCHF | fmtCHF }} CHF Snacks and Drinks</span
        >
        {{ end }} {{ if ne .Comment "" }} {{ end }}
        <span class="bellevue-activity stack-exception-medium"
          ><small>{{ .Comment }}</small></span
        >
        <div class="buttons stack-exception-small">
          <button
            hx-get="/bellevue-activities/{{.ID}}/edit"
            hx-target="main"
            hx-push-url="true"
            type="button"
            class="edit"
          >
            edit
          </button>
          <span> </span>
          <button
            hx-delete="/bellevue-activities/{{.ID}}"
            hx-target="main"
            type="button"
            class="delete"
            hx-confirm="are you sure that you want to delete this activity?"
          >
            delete
          </button>
        </div>
      </td>
    </tr>
    {{ end }}
    <tr>
      <td class="stack-xs">
        <span class="bold block rose">Total Price July 2025:</span>
      </td>
      <td>
        <span class="bold block"
          >{{ .BellevueActivityOverview.TotalPrice | fmtCHF }} CHF</span
        >
      </td>
    </tr>
  </table>
</div>
{{ end }}
