{{ define "title" }}Bellevue Activities{{ end }}
{{ define "main" }}
<h2 class="text-center">Bellevue Activities</h2>
<p class="text-center">
  <a href="/admin/new-bellevue-activity">Add new activities</a>
</p>
<table>
  <tr>
    <th>Date</th>
    <th>Total Price</th>
    <th>Activties</th>
  </tr>
  {{ range .BellevueActivities }}
  <tr>
    <td>{{ .Date | formatDate }}</td>
    <td>{{ .TotalPrice | fmtCHF }}</td>
    <td class="stack-small">
      {{ if gt .Breakfasts 0 }}<span class="bellevue-activity">{{ .Breakfasts }} Breakfasts</span>{{ end }}
      {{ if gt .LunchDinners 0 }}<span class="bellevue-activity">{{ .LunchDinners }} LunchDinners</span>{{ end }}
      {{ if gt .Coffees 0 }}<span class="bellevue-activity">{{ .Coffees }} Coffees</span>{{ end }}
      {{ if gt .Saunas 0 }}<span class="bellevue-activity">{{ .Saunas }} Saunas</span>{{ end }}
      {{ if gt .Lectures 0 }}<span class="bellevue-activity">{{ .Lectures }} Lectures</span>{{ end }}
      {{ if ne .Comment "" }}<span class="bellevue-activity">{{ .Comment }} Comment</span>{{ end }}
    </td>
  </tr>
  {{ end }}
</table>
{{ end }}
