{{ define "title" }}Bellevue Activities{{ end }} {{ define "main" }}
<h2 class="text-center">Bellevue Activities</h2>
<p class="text-center">
  <a href="/admin/new-bellevue-activity">Add new activities</a>
</p>
<div class="table-container">
  <table>
    <tr>
      <th>Date</th>
      <th class="no-break">Price</th>
      <th>Activties</th>
    </tr>
    {{ range .BellevueActivityOverview.BellevueActivities }}
    <tr>
      <td class="no-break">{{ .Date | fmtDateNiceRead }}</td>
      <td class="no-break">{{ .TotalPrice | fmtCHF }}</td>
      <td class="stack-xs">
        {{ range .Items }}
        <span class="bellevue-activity">{{ .Count }} {{ .Activity }}</span>
        {{ end }} {{ if gt .SnacksCHF 0 }}
        <span class="bellevue-activity">{{ .SnacksCHF }} CHF Snacks</span>
        {{ end }} {{ if ne .Comment "" }} {{ end }}
        <span class="bellevue-activity stack-exception-medium"
          >{{ .Comment }}</span
        >
      </td>
    </tr>
    {{ end }}
    <tr>
      <td></td>
      <td></td>
      <td class="stack-xs">
        <span class="bold block rose">Total Price:</span>
        <span class="bold block"
          >{{ .BellevueActivityOverview.TotalPrice | fmtCHF }} CHF</span
        >
      </td>
    </tr>
  </table>
</div>
{{ end }}
