{{ define "title" }}Today I Learned{{ end }}

{{ define "main" }}
<h2 class="text-center">Today I Learned</h2>
{{ if .LoggedIn }}
<p class="text-center">
  <a href="/admin/new-til">new TIL</a>
</p>
{{ end }}
<div class="tils-container">
  {{ range .TILs }}
  <a href="/today-i-learned/{{ .Path }}">
    <div class="card">
      <hgroup>
        <p class="card-title"><strong>{{ .Title }}</strong></p>
        <small class="date">{{ .CreatedAt | formatDate }}</small>
      </hgroup>
      <div class="card-text">{{ .HTML.Summary }}</div>
      <small class="category"><code>{{ .Category }}</code></small>
    </div>
  </a>
  {{ end }}
</div>
{{ end }}
