/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* HEADER */

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header>hgroup {
    text-align: center;
}

header>hgroup>h1>a {
    text-decoration: none;
}

header>hgroup>h1>a:hover {
    text-decoration: underline;
    text-decoration-thickness: 5%;
}

header>nav>ul>li>a {
    text-decoration: underline !important;
}

header>nav>ul>li>a.active {
    text-decoration: none !important;
    font-weight: 600;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* MAIN */

h2.text-center {
    text-align: center;
}

div.main-layout {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 56ch) 1fr;
    justify-content: center;
    gap: 0.3em;
    align-items: start;
}

div.left {}

main {
    padding: 0.5em;
    overflow-x: hidden;
}

div.right {}

@media (max-width: 60ch) {
    div.main-layout {
        grid-template-columns: 1fr;
    }
}


a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: coral;
}

.active {}


/* TILs */

div.tils-container>a {
    text-decoration: none;
}

div.tils-container {
    display: grid;
    /* border: 2px solid red; */
    border-radius: 0.5em;
    padding: 0.2em;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    justify-content: center;
    gap: 0.5em;
    /* grid-auto-rows: 1fr; */
}

div.card {
    height: 100%;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card:hover {
    background-color: #f3f4f6;
}

div.card>hgroup>small {
    font-size: 0.8em !important;
}

.card>hgroup>.card-title {
    font-weight: 600;
}

div.card>small.date {
    margin-bottom: 1em;
}

div.card>p.card-text {
    margin-bottom: 2em;
    color: #121212;
}

.card>small.category {
    font-size: 0.8em !important;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    div.card {
        background-color: #1f2937;
        border-color: #374151;
    }

    .card:hover {
        background-color: #374151;
    }

    .card>h3.card-title {
        color: #ffffff;
    }

    div.card>small.date {}

    div.card>p.card-text {
        color: #9ca3af;
    }

    .card>small.category {}
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* FOOTER */

footer {
    text-align: center;
}
