/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* GLOBAL */

/* rose pine palette: https://rosepinetheme.com/palette/ */
:root {
    --text-dawn: #575279;
    --text-moon: #e0def4;

    --muted-dawn: #9893a5;
    --muted-moon: #6e6a86;

    --subtle-dawn: #797593;
    --subtle-moon: #908caa;

    --base-dawn: #faf4ed;
    --base-moon: #232136;

    --surface-dawn: #fffaf3;
    --surface-moon: #2a273f;

    --overlay-dawn: #f2e9e1;
    --overlay-moon: #393552;

    --highlight-low-dawn: #f4ede8;
    --highlight-med-moon: #2a283e;

    --highlight-med-dawn: #dfdad9;
    --highlight-med-moon: #44415a;

    --highlight-high-dawn: #cecacd;
    --highlight-high-moon: #56526e;

    --rose-dawn: #d7827e;
    --rose-moon: #ea9a97;

    --iris-dawn: #907aa9;
    --iris-moon: #c4a7e7;

    --pine-dawn: #286983;
    --pine-moon: #3e8fb0;
}

html {
    background-color: var(--base-dawn);
}


body {
    /* font-family: "Space Grotesk", sans-serif; */
    font-family: "JetBrains Mono", monospace;
    color: var(--text-dawn);
    font-size: 1.4rem;
    line-height: 1.5;
}

code {
    background-color: var(--highlight-high-dawn);
}

p>code {
    padding: 0.2em;
    background-color: var(--highlight-med-dawn);
    font-size: 0.8em;
}

@media (prefers-color-scheme: dark) {
    p>code {
        background-color: var(--highlight-med-moon);
    }
}

pre {
    background-color: var(--surface-dawn);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.6em;
}

pre>code {
    background-color: var(--surface-dawn);
}

@media (prefers-color-scheme: dark) {

    body {
        color: var(--text-moon);
    }

    html {
        background-color: var(--base-moon);
    }

    code {
        background-color: var(--highlight-high-moon);
    }

    pre {
        background-color: var(--surface-moon);
    }

    pre>code {
        background-color: var(--surface-moon);
    }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* HEADER */

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header>hgroup {
    text-align: center;
    margin: 1rem;
}

header>hgroup>h1,p {
    margin: 0;
}

header>nav * {
    display: flex;
    flex-direction: row;
}

header>nav>ul>li {
    list-style: none;
    padding: 0.2em 0.5em;
}

header>hgroup>h1 {}

header>hgroup>p {}

@media (prefers-color-scheme: dark) {
    header>hgroup>h1 {
        color: var(--iris-moon);
    }

    header>hgroup>p {
        color: var(--iris-moon);
    }
}

header>hgroup>h1>a {
    text-decoration: none;
}

header>hgroup>h1>a:hover {
    text-decoration: underline;
    text-decoration-thickness: 5%;
}

header>nav>ul>li>a {
    text-decoration: underline !important;
}

header>nav>ul>li>a.active {
    text-decoration: none !important;
    font-weight: 600;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* MAIN */

div.main-layout {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 54ch) 1fr;
    justify-content: center;
    gap: 0.5em;
    align-items: start;
}

.stack > * + * {
  margin-block-start: 1.5rem;
}

main ul>li+li {
    margin-block-start: 0.5rem;
}

div.left {}

main {
    padding: 0.5em;
    overflow-x: hidden;
}

div.right {}

@media (max-width: 60ch) {
    div.main-layout {
        grid-template-columns: 1fr;
    }
}


.text-center {
    text-align: center;
}

h2 {}

@media (prefers-color-scheme: dark) {
    h2 {
        color: var(--iris-moon);
    }
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: var(--rose-dawn);
}

@media (prefers-color-scheme: dark) {
    a:hover {
        color: var(--rose-moon);
    }
}

.active {}


/* Songbook */

pre.chords,
pre.chords *,
pre.chords>summary {
    border-color: var(--rose-dawn);
    margin: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-bottom: 0;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* TILs */

div.tils-container>a {
    text-decoration: none;
}

div.tils-container {
    display: grid;
    /* border: 2px solid red; */
    border-radius: 0.5em;
    padding: 0.2em;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    justify-content: center;
    gap: 0.8em;
    /* grid-auto-rows: 1fr; */
}

div.card {
    height: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--surface-dawn);
}

@media (prefers-color-scheme: dark) {
    div.card {
        background-color: var(--surface-moon);
    }
}

.card:hover {
    background-color: var(--overlay-dawn);
}

@media (prefers-color-scheme: dark) {
    .card:hover {
        background-color: var(--overlay-moon);
    }
}

div.card>hgroup>p.card-title>strong {
    font-weight: 600;
}

div.card>hgroup>small {
    font-size: 0.8em !important;
    color: var(--subtle-dawn);
}

@media (prefers-color-scheme: dark) {
    div.card>hgroup>small {
        color: var(--subtle-moon);
    }
}

div.card>hgroup {
    margin-bottom: 1em;
}

div.card>div.card-text {
    margin-bottom: 2em;
}

div.card div.card-text code {
    font-size: 0.8em;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    /* vertical-align: -0.65em; */
    vertical-align: bottom;
    white-space: nowrap;
    padding: 0.3em;
}

.card code::-webkit-scrollbar {
    height: 0.2em;
}

.card code::-webkit-scrollbar-thumb {
    background-color: var(--muted-dawn);
    border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
    .card code::-webkit-scrollbar-thumb {
        background-color: var(--muted-moon);
    }
}

.card code::-webkit-scrollbar-track {
    background: transparent;
}

small.category>code {
    font-size: 0.8em;
    padding: 0.4em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    background-color: var(--pine-moon);
    color: white;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* FOOTER */

footer {
    text-align: center;
}
